prefetcher/l1i_prefetcher.cc
prefetcher/l1d_prefetcher.cc
prefetcher/l2c_prefetcher.cc
prefetcher/llc_prefetcher.cc
branch/branch_predictor.cc
replacement/llc_replacement.cc

bin/
obj/
dpc3_traces/
info/
results*/*

spec/*.bc
spec/bin/
spec/benchspec/CPU/5*

infgen/build/
infgen/files/
infgen/dwproc/__pycache__/

tracer/obj-intel64/
